h1 {text-align: center;}

.section {
    margin: 0 auto;
    background-color: blanchedalmond;
    width: 1000px;
    height: 600px;
}

.line {
    stroke: red;
    width: 800px;
    height: 300px;
}
.icon-line path {
    fill: none;
    stroke: green;
    stroke-dasharray: 3200;
    stroke-dashoffset: 3200;
    stroke-width: 5;
    animation: draw 20s linear forwards;

}

.icon-astronaut path {
    fill: red;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw 20s linear forwards;
}



@keyframes draw {
    100% {
        stroke-dashoffset: 0;
    }
}