h1 {text-align: center;}

.section {
    margin: 0 auto;
    background-color: blanchedalmond;
    width: 1000px;
    height: 600px;
}

.line {
    stroke: red;
    width: 800px;
    height: 300px;
}
.icon-line path {
    fill: none;
    stroke: green;
    stroke-width: 5px;
}
.icon-astronaut path {
fill: red;
}